* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --grey: #404040;
  --bright: aqua;
  --headings: dodgerblue;
  --ratings: #ff9900;
  --icons: #44A890;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: auto;
  background-color: white;
}

header{
  background-image: url(/img/NZ-background4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navigation {
    text-align: center;
    min-height: 100vh;
  }

ul{
    list-style: none;
}
  
.top-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 1;
}

.logo{
  grid-column-start: 2;
  grid-column-end: 3;
}

.nav-icons{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 1;
}

.bookings i{
  color: var(--icons);
}

.logo img{
  padding-top: 1rem;
  height: 10em;
  /* width: auto; */
}

.nav-icons a{
    padding: 1rem;
    color: var(--grey);
    font-size: 1.5rem;
}

.nav-icons li{
   display: inline-block;
}

  .main-menu{
      padding-top: 1rem;
      font-size: 1rem;
      text-align: justify;
  }

  .menu-item{
      padding-bottom: 0.5rem;
  }

 .menu-item a{
   color: var(--grey);
 }

  a {
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
  }

  .top-text{
      padding-top: 2rem;
  }

  .bookings{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 2rem 0;
  }

  .bookings i{
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    margin: 1rem 2rem 0 2rem;
  }

  .bookings i:hover{
      background: lightblue;
  }


a:hover {
  color: var(--headings);
}

.top-text h1{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1rem;
  color: white;
}

.top-text h2 {
  font-size: 4rem;
  font-family: "Cabin Sketch", cursive, sans-serif;
  text-transform: uppercase;
  margin: 0;
  color: white;
}

.top-text h3 {
  font-family: Quintessential, Helvetica, sans-serif;
  font-weight: normal;
  color: var(--bright);
  font-size: 2rem;
}

img {
display: block;
width: 100%;
height: auto;
}

.button {
display: inline-block;
padding: 0.5rem;
border: thin black solid;
text-decoration: none;
margin: 2rem 0 0;
border-radius: 1rem;
color: white;
background-color: #404040;
}

.button:hover {
background: lightblue;
}

.navigation-2{
background-color: lightgrey;
}


.navigation-2 h1{
text-align: center;
padding-top: 2rem;
padding-bottom: 1rem;
font-size: 2rem; 
font-weight: normal;
color: var(--grey);
}


.about-NZ{
display: grid;
grid-template-columns: 1fr;
color: black;
padding: 2rem;
text-align: center;
border-top: #404040 thin solid;
border-bottom: #404040 thin solid;
}

.about-NZ b{
  color: #44A890;
}

.about-NZ h1{
color: var(--headings);
font-size: 2rem;
padding: 1rem 0;
}

.about-NZ h2{
color: white;
font-size: 1.25rem;
padding-top: 1rem;
}

.about-NZ p{
  text-align: justify;
}

.ratings{
  color: var(--ratings);
  padding-bottom: 1rem;
}

.experiences {
text-align: center;
font-size: 2rem;
padding-top: 3rem;
color: var(--headings);
}

.things-to-do a{
  border: 0.25rem solid var(--grey);
}

.things-to-do {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 3rem;
  text-align: center;
}

.things-to-do h3, p {
padding: 0 0 1rem 0;
}

.things-to-do h2{
color: var(--headings);
padding-top: 1rem;
}

.to-do-img{
  padding-bottom: 2rem;
}

.bottom-browser {
  background-color: #404040;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem 0;
}

.bottom-browser h3 {
font-size: 1rem;
color: grey;
}

.bottom-browser a{
  color: white;
}


.subscribe h3 {
font-family: "Cabin Sketch", cursive, sans-serif;
font-size: 2rem;
color: var(--headings);
}

.subscribe button {
  background-color: #404040;
  border: 1rem thin white;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
}

.social-media i {
font-size: 1.25rem;
}

.social-media li{
  display: inline;
  padding-right: 3rem;
}

.bottom-browser h3, li{
  padding-bottom: 1rem;
}

.copyright{
  display: block;
  background-color: var(--grey);
  text-align: center;
  color: white;
}

/* Tablet Version */

@media screen and (min-width: 1024px) {

  .top-grid{
    grid-template-columns: 1fr 1fr 1fr;
  

    .menu{
      grid-column-start: 1;
      grid-column-end: 2;
    }

  .logo{
    grid-column-start: 2;
    grid-column-end: 3;
  }
  
  .nav-icons{
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .about-NZ{
    display: grid;
    grid-template-columns: 1fr;
  }

}

/* End of Tablet */


/* Desktop Version*/

@media screen and (min-width: 60em) {

  .top-grid{
      grid-template-columns: 1fr 3fr 1fr;
  }

  .logo{
    grid-column-start: 1;
    grid-column-end: 2;
  }
  
  .menu{
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .main-menu{
    text-align: center;
  }
  
  .nav-icons{
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .menu-item{
      display: inline-block;
      padding-right: 2rem;
  }
  

 .nav-icons a{
      padding: 1rem;
      color: #404040;
      font-size: 1.5rem;
  }

  a:hover {
    color: var(--headings);
  }

  .menu-item a {
    text-decoration: none;
    color: #404040;
  }

  .top-text {
    padding-top: 6rem;
  }

  .top-text h2{
      font-size: 5rem;
  }

  .top-text h3{
      font-size: 2rem;
  }

  .bookings{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
  }

  .bookings i{
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
  }

  .book-text{
    padding: 1rem;
    text-align: center;
    font-family: arial;
    font-weight: normal;
    font-size: 2rem;
  }

  .about-NZ p{
    font-size: 1.25rem;
    padding: 1rem 2rem;
  }

  .about-NZ{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  /* .map{
    margin-top: 5rem;
  } */

  .things-to-do {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-inline-start: 3rem;
    margin-inline-end: 3rem;
  }

  .experiences {
    padding-top: 5rem;
  }

  .to-do-img {
    padding: 0 1rem 2rem 0;
  }

  .img-size{
    height: 13rem;
  }


  .bottom-browser {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #404040;
    max-width: 100%;
    margin:auto;
  }

  .bottom-browser h3, li{
    padding-bottom: 1rem;
  }

  .end-nav{
    margin-left: 5rem;
  }

  .bottom-bookings{
    margin-left: 2rem;
  }

  .subscribe{
    margin-left: 3rem;
  }

  .shop{
    margin-left: 2rem;
  }


}

/* End of Desktop Version */
