* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: auto;
  background-color: #eee;
}

header{
  background-image: url(/img/NZ-background4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navigation {
    text-align: center;
    min-height: 100vh;
  }

ul{
    list-style: none;
}


/* This is the mobile */

  body {
    background-color: lightgrey;
  }
  
  .top-grid{
    display: grid;
    grid-template-columns: 1fr;
}

.logo img{
    padding-top: 1rem;
    height: 4em;
    width: auto;
}

.nav-icons a{
    padding: 1rem;
    color: black;
    font-size: 1.5rem;
}

.nav-icons li{
   display: inline-block;
}

  .main-menu{
      padding-top: 1rem;
      font-size: 1rem;
  }

  .menu-item{
      padding-bottom: 0.5rem;
  }


  a {
    text-decoration: none;
    color: black;
  }

  .top-text{
      padding-top: 2rem;
  }

  .top-text h2{
      font-size: 4rem;
  }

  .bookings{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 2rem 0;
  }

  .bookings i{
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    border: #404040 0.5rem solid;
    margin-top: 1rem;
  }


  .bookings i:hover{
      background: lightblue;
  }


  .experiences {
    padding-top: 3rem;
    color: dodgerblue;
  }

  .bottom-browser {
    padding-top: 2rem;
  }

.things-to-do{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 3rem;
    margin-right: 3rem;
}



/* This is the desktop*/

@media screen and (min-width: 60em) {
  body {
    background-color: lightgray;
  }

  .top-grid{
      grid-template-columns: 1fr 3fr 1fr
  }

  .logo img{
    padding-top: 2rem;
    width: 60%;
    height: auto;
}

  .main-menu{
      text-align: center;
  }

  .menu-item{
      display: inline-block;
      padding-right: 2rem;
  }
  

 .nav-icons a{
      padding: 1rem;
      color: #404040;
      font-size: 1.5rem;
  }

 .nav-icons li{
     display: inline-block;
 }

  .menu-item a {
    text-decoration: none;
    color: #404040;
  }

  .top-text {
    padding-top: 6rem;
  }

  .top-text h2{
      font-size: 5rem;
  }

  .top-text h3{
      font-size: 2rem;
  }

  .bookings{
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  }

  .bookings i{
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
  }

  .bookings i:hover{
      background:lightblue;
  }

  .book-text{
    padding: 1rem;
    text-align: center;
    font-family: arial;
    font-weight: normal;
    font-size: 2rem;
  }

  .about-NZ p{
    font-size: 1rem;
    padding: 1rem 10rem;
  }

  .things-to-do {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .experiences {
    padding-top: 5rem;
  }

  .things-to-do {
    margin-inline-start: 5rem;
    margin-inline-end: 5rem;
  }

  .to-do-img {
    padding-right: 1rem;
  }

  .bottom-browser {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3rem 0;
  }
}

/* End of Media Query Desktop */

a{
    font-size: 1.25rem;
}

a:hover {
    color: dodgerblue;
  }

.top-text h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1rem;
    color: white;
}

.top-text h2 {
  font-family: "Cabin Sketch", cursive, sans-serif;
  text-transform: uppercase;
  margin: 0;
  color: white;
}
  
  .top-text h3 {
    font-family: Quintessential, Helvetica, sans-serif;
    font-weight: normal;
    color: aqua;
    font-size: 2rem;
  }


img {
  display: block;
  width: 100%;
  height: auto;
}

main {
  margin: auto;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

.button {
  display: inline-block;
  padding: 0.5rem;
  border: thin black solid;
  text-decoration: none;
  margin: 2rem 0 0;
  border-radius: 1rem;
  color: white;
  background-color: #404040;
}

.button:hover {
  background: lightblue;
}

.navigation-2{
  background-color: #404040;
  margin-left: 7rem;
  margin-right: 7rem;
  margin-bottom: 2rem;
}


.navigation-2 h1{
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-size: 2rem; 
  font-weight: normal;
  color: #404040;
  background-color: lightgrey;
}

.about-NZ{
  color: lightgrey;
  padding: 2rem;
  text-align: center;
  border-top: #404040 thin solid;
  background-image: url(/img/waterfall.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.about-NZ h1{
  color: aqua;
  font-size: 2rem;
}

.about-NZ h2{
  color: white;
  font-size: 1.25rem;
  padding-top: 1rem;
}


.experiences {
  text-align: center;
  font-size: 2rem;
}

.things-to-do {
  padding-top: 3rem;
  text-align: center;
}

.things-to-do h3,
p {
  padding: 1rem 0 1rem 0;
}

.bottom-browser h3 {
  font-size: 1rem;
  color: grey;
}

.subscribe h3 {
  font-family: "Cabin Sketch", cursive, sans-serif;
  font-size: 2rem;
  color: dodgerblue;
}

.social-media > i {
  padding: 1rem;
  font-size: 1rem;
}
